.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly */
  font-family: var(--font-sabon);
  overflow: hidden;
}


.background {
  position: fixed; /* Keep fixed background */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Center the image */
}

.heading {
  font-family: var(--font-luxury); 
  font-weight: 200;
  letter-spacing: 8px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10%; 
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  padding-top: 65vh; 
  padding-inline: 30px;
  margin-top: auto;
}

.smallText {
  font-family: var(--font-sabon); 
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding-bottom: 20px; /* Space above the button */
}

.startButton {
  font-family: var(--font-sabon);
  font-weight: 800;
  background-color: #D9D9D9;
  border-radius: 25px;
  color: black;
  padding: 14px 50px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  .container {
    min-height: 100%; /* Keep full height */
    width: 100%;
    padding: 20px;
  }

  .heading {
    font-size: 1.2rem; /* Smaller font for mobile */
    letter-spacing: 5px;
    margin-top: 15%; 
  }

  .smallText {
    font-size: 1.2rem; /* Smaller text for mobile */
    margin: 10px 20px; /* Adjusted margins for mobile */
  }

  .startButton {
    padding: 12px 40px; /* Smaller padding */
    font-size: 1rem; /* Smaller font for the button */
    margin-bottom: 30px; /* Maintain distance from bottom */
  }
}



.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loadingImage {
  width: 50px; /* Adjust as needed */
  height: 50px;
}

